.hero {
  width: 100%;
  height: 70vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}
.hero h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  width: 80%;
}
.hero .highlight {
  color: #a78bfa;
}
.hero .subtitle {
  display: block;
  font-size: 24px;
  font-weight: 600;
  color: #a5b4fc;
  margin-top: 10px;
}
.hero p {
  width: 75%;
  font-size: 17.5px;
  color: #cbd5e1;
  line-height: 1.7;
  max-width: 750px;
}
.hero button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(90deg, #8b5cf6, #6366f1);
  border: none;
  color: #fff;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.3s ease;
}
.hero button i {
    font-size: 22px;
}
.hero button:hover {
  transform: translateY(-7px);
  opacity: 0.9;
}
@media(min-width:1600px){
    .hero {
        gap: 40px;
    }
    .hero h2 {
        font-size: 60px;
    }
    .hero .subtitle {
        font-size: 40px;
    }
    .hero p {
        font-size: 25px;
    }
    .hero button {
        font-size: 20px;
        padding: 15px 25px;
    }
}
@media (max-width: 900px) {
    .hero {
        gap: 50px;
    }
  .hero h2 {
    font-size: 50px;
    width: 90%;
  }
  .hero .subtitle {
    font-size: 30px;
  }
  .hero p {
    width: 85%;
    font-size: 20px;
  }
  .hero button {
    padding: 15px 19px;
  }
}
@media (max-width: 600px) {
  .hero {
    height: auto;
    padding: 60px 20px;
  }
  .hero h2 {
    font-size: 28px;
    width: 95%;
  }
  .hero .subtitle {
    font-size: 18px;
  }
  .hero p {
    width: 95%;
    line-height: 1.6;
  }
  .hero button {
    padding: 10px 18px;
    font-size: 15px;
  }
  .hero button i {
    font-size: 18px;
  }
}